body {
    font-family: "Arial", sans-serif;
}

main h1 {
    text-align: center;
}

.container-jogo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 270px;
    margin: 50px auto;
}

.quadrado {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 2px #333;
    border: 1px solid #333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.quadrado:hover {
    background-color: blue;
    color: #ff00007e;
}
