* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'sonic-extra-bold';
    src: url("/Dino-game/fonte/SonicBT-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Press Start 2p";
    src: url("/Dino-game/fonte/PressStart2P.ttf") format("truetype");
}

body {
    background-color: #17569b;
}

h1 { 
    margin-top: 1rem;
    font-family: 'sonic-extra-bold', sans-serif;
    text-align: center;
    color: #F6C883;
}

body h2 {
    font-family: "Press Start 2p";
    text-align: center;
    padding: 1rem;
}

#container-game {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    width: 600px;
    height: 250px;
    margin: auto;
    margin-top: 5rem;
    padding: .4rem;
    background-image: url("/Dino-game/imagens/background-dino-game.png");
}

#container-game button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sonic {
    width: 40px;
    height: 60px;
    background-image: url("/Dino-game/imagens/sonic.png");
    position: relative;
    top: 122px;
    
}

#obstacle {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 0;
    background-image: url("/Dino-game/imagens/cactus-2.png");
    background-size: 40px 40px;
    top: 82px;
    left: 558px;
    /*animation: slider 1s infinite linear;*/
}

.jump {
    animation: jump 0.3s linear;

}

@keyframes jump {
    0% {
      top: 122px;
    }
  
    30% {
      top: 92px;
    }
  
    50% {
      top: 62px;
    }
  
    80% {
      top: 92px;
    }
  
    100% {
      top: 122px;
    }

  }

@keyframes slider {
    0% {
        left: 558px;
    }

    100% {
        left: -40px;
    }

}